{% extends "layout.html" %}
{% block body %}
<h3>Hakkımızda</h3>
<hr>

<p>Ben Burak,</p>
<br>
<p>
    21. Yüzyılın içine doğmuş biri olarak makine öğrenmesi ve yapay zeka odaklı filmlerle büyüdüm. Teknolojiyi ve onun faydalarını daima hayatımın en orta yerine koydum ve bu sektörde çalışmak benim en büyük isteklerimden biriydi. Bunun yanında borsa, ticaret ve teknik analiz konularına ilgi duyuyorum; fırsat buldukça kendimi bu konular üzerinde geliştirdim. Makine öğrenmesi ve yapay zeka alanında profesyonel olarak sektörde tecrübem olmasa da, internet üzerinden izlediğim videolardan ve katılım sağladığım CSCON’22 etkinliğinden yapay zeka ve makine öğrenmesi hakkında temel bilgiler aldım, bu alanlarda kendimi geliştirmeyi yeni şeyler öğrenmeyi çok istiyorum. Programlama üzerine hala okumakta olduğum TED Üniversitesi’nde tutor olarak görev aldım; bu görevim öğrencilere Java dili ile alakalı verilen görevlerde yol gösterici olarak öğrencilere yardım etmek üzerineydi. Şu an için algoritma, C dili ve SQL dersleri almaktayım.

Girişken, çalışmayı, yeni şeyler öğrenmeyi seven biriyim.
</p>
<br>
<p>İşte bu sebeple bu blog sayfasını yapmak beni hedeflerime bir adım daha yaklaştırıyor. Keyifle kalın, mutlu okumalar.</p>

    {% endblock %}